@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
   /* Colors */

     /* Primary  */

--Very-dark-blue-main: hsl(233, 47%, 7%);
--Dark-desaturated-blue-card : hsl(244, 38%, 16%);
--Soft-violet-accent: hsl(277, 64%, 61%);

    /* Neutral  */

--White-main-heading: hsl(0, 0%, 100%);
--Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white-stat-headings: hsla(0, 0%, 100%, 0.6);

    /* Fonts */

    --Font-size: 15px;
    --Font-Family:'Lexend Deca',sans-serif;
    --Font-Weight: 400,
}
body{
    width: 100%;
    height: 100vh;
    font-family: var(--Font-Family);
    font-size: var(--Font-size);
    background-color: var(--Very-dark-blue-main);
    display:grid;
    place-items: center;

     & .card{
        width: 1050px;
        height: 460px;
        background-color: var(--Dark-desaturated-blue-card);
        display: flex;
        flex-direction: row;
        border-radius: 9px;
        gap: 3.5rem;

        & .description{
        width: 500px;
        padding: 3.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &  h1{
            color: var(--White-main-heading);
            width: 100%;
            font-size: 2.3rem;

            & b{
                color: var(--Soft-violet-accent);
            }
        }
        
        & p{
            color: var(--Slightly-transparent-white-stat-headings);
            line-height: 1.8rem;
        }
    }

        & .image{
            background-image: url('./images/image-header-desktop.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 500px;
            height: 460px;
            border-radius: 0 9px 9px 0; 
            position: relative;
        }

        & .image::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 500px;
            height: 460px;
            border-radius: 0 9px 9px 0;
            background-color: var(--Soft-violet-accent);
            mix-blend-mode: multiply; 
        }

        & article{
            margin-top: 2.5rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 4rem;
        }
        
       & .companies, & .templates, & .queries{
            & h4{
            color: var(--White-main-heading);
            font-size: 23px;
            font-weight: var(--Font-Weight);
            }

            & p{
            margin-top: 0.3rem;
            color: var(--Slightly-transparent-white-stat-headings);
            text-transform: uppercase;    
            } 
        }

        & .queries{
            & h4{
             text-transform: uppercase;
            }
        }
    }
}



@media (max-width:650px) {
    body{
        height: 100%;

        & .card{
            width: 90%;
            flex-direction: column-reverse;
            height: fit-content;
            max-width: 375px;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 0;
            margin: 4rem 0;
        
    
        & .image{
            background-image: url('./images/image-header-mobile.jpg');
            width: 100%;
            height: 275px;
            border-radius: 9px 9px 0 0;
        }

        & .image::before{
        width: 100%;
        height: 275px;
        border-radius: 9px 9px 0 0;
        }

       & .description{
            max-width: 100%;
            padding: 2rem;

            & h1{
                font-size: 1.8rem;
                width: 100%;
                margin: 0;
            }
        }

        & article{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin: 0;
        }
    }
    
 }
}